*:focus{outline:none;} 
*{box-sizing: border-box;} 
html{ 
    overflow-x: hidden; 
}

body { 
    /* font: normal 12px/18px OpenSansHebrewRegular, Tahoma, Arial, sans-serif;  */
    font-family: Arial, sans-serif;
    margin:0; 
    width: 100%; 
    direction:rtl;
    background:#F4F9FC; 
    color: #333; 
} 

a{ 
    text-decoration: none; 
    color: #333; 
    transition: color 300ms; 
} 

a:hover{ 
color: #00CB84; 
} 

h2{ 
    font-size: 18px; 
} 

.p5{ 
padding: 5%; 
} 

.p10{ 
    padding: 10%;
} 

.flex {
    display: flex;

}

.w20 {
    width: 20%;
}

.w40 {
    width: 40%;
}

.w60 {
    width: 60%;
}

.w70{
    width: 70%;
}

.w10{
    width: 10%;
}

.w80 {
    width: 80%;
}

#wrapper {
    width: 100%;
    display: flex;
}

#left-area {
    width: 40%;
    background: #f4f4f4;
    /* display: flex; */
    /* flex-direction: column;*/
    /* justify-content: center; */
    /* align-items: center; */
    /* padding: 20px; */
    height: 100vh;
}

.header {
    /* width: 100%; */
    /* background: #333; */
    /* padding: 15px 20px; */
    width: 100%;
    height: 9%;
    color: #ffffff;
    background-color: #393939;
}

.wrapper {
    /* display: flex; */
    justify-content: space-between;
    /* align-items: center; */
    width: 100%;
    height: 100%;
    align-items: center;
}

/* .header .logo{
    padding: 5px 0;
} */

.logo img {
    margin-right: 2px;
    margin: 5px 0px 0 0;
    object-fit: cover;
    width: 70px;
    height: auto;
}

    /* max-width: 100%; */
    /* height: auto;*/

.logo {
    height: 100%;
}

.al h1 {
    margin-left: 10px;
}

.form .row {
    margin-bottom: 15px;
}

.form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 16px;
    color: #333;
}

.form input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
}

.btn {
    text-transform: uppercase;
    width: 100%;
    padding: 12px;
    background: #00c477;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 1.1em;
    cursor: pointer;
    transition: background 0.3s ease-in-out;
}

.btn:hover {
    background: #1c7d82;
}

#right-area {
    width: 60%;
}

#right-area img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    background-size: cover;
}

.inner-form {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 83%;
}

form {
    width: 60%;
    border-radius: 10px;
}

.ac{
    text-align: center;
}

.alertMsg{ 
    font-size: inherit; 
    padding: 20px 0; 
    position: fixed; 
    bottom: 5%; 
    left: 2%; 
    border-radius: 10px; 
    z-index: 999; 
    height: auto; 
    display: none; 
    color: red; 
    background-color: rgba(255, 228, 228, 0.75); 
    box-shadow: 0px 0 10px 0px rgba(205, 30, 11, 0.5); 
    animation: showFromLeft 0.3s linear; 
}

.successMsg{ 
    font-size: inherit; 
    padding: 20px 0; 
    position: fixed; 
    bottom: 5%; 
    left: 2%; 
    border-radius: 10px; 
    z-index: 999; 
    height: auto; 
    display: none; 
    color:green; 
    background-color: rgba(218, 249, 223, 0.75); 
    box-shadow: 0px 0 10px 0px rgb(11 205 61/50%); 
    animation: showFromLeft 0.3s normal;
}

@keyframes showFromLeft { 
    0% { opacity:0;margin-left:-100%;} 
    25% { opacity:0.2;margin-left:-50%;} 
    35% { opacity:0.4;margin-left:-20%;} 
    50% { opacity:0.8; margin-left:-15%;} 
    65% { opacity:0.9;margin-left:-12%;} 
    75% { opacity:0.9; margin-left:-10%;} 
    80% { opacity:0.9;margin-left:-8%;} 
    85% { opacity:0.95;margin-left:-6%;} 
    90% { opacity:0.95;margin-left:-4%;} 
    95% { opacity:0.95;margin-left:-2%;} 
    100% { opacity:1;margin-left:0;}
}

#spinner{
    background: #919fa640 url(../images/loader.gif) no-repeat; 
    background-position: center; 
    background-size: 50px; 
    position: fixed; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%; 
    z-index: 9999999;
}

.wrapper {
    max-width: 1200px; 
    margin: 0 auto; 
    padding: 0 15px; 
    width: 100%; 
}

.panel {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex.panel {
    display: flex;
    padding: 10px 0;
  }

.ptb30 {
    padding: 30px 0;
    text-align: right;

}

h1 {
    font-size: 24px;
    font-weight: bold;
    margin: 0;
}

input[type="date"] {
    background-color: transparent;
    border-radius: 5px;
    padding: 10px;
    /* border-width: 0.5px;
    border-color: #c6d7e6; */
    text-align: center;
    border: 0.5px solid #ccc;
    font-family: Arial, sans-serif;
  }

.table {
    overflow-x: auto;
    background-color: white;
}

table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #ddd;
}

table a {
    text-decoration: none;
    color: black;
  }
  

thead {
    background-color: #f9f9f9;
}


th {
    padding: 8px;
    text-align: right;
}

td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: right;
}

th.id, td.id {
    width: 5%;
}

th.actions, td.actions {
    width: 10%;
}

th {
    font-weight: bold;
    color: #333;
}

tbody tr:first-child {
    background-color: #f3f3f3
  }
  
  tbody tr:last-child {
    background-color: #f3f3f3
  }

.actions a {
    margin: 0 5px;
    color: #ff4d4f;
}

.actions a:hover {
    color: #d9363e;
}

.fas.fa-trash-alt, .fas.fa-edit {
    cursor: pointer;
}

.empty {
    text-align: center;
    color: #999;
    padding: 50px 0;
    font-size: 18px;
}

/* Зміна кольору для виділеного рядка */
tr:hover {
    background-color: #f1f9ff;
}

th {
    background-color: white;
    font-weight: bold;
}

.id {
    text-align: center;
    width: 50px;
}

.actions {
    text-align: center;
    width: 100px;
}

.actions a {
    text-decoration: none;
    color: #333;
    margin: 0 5px;
}

.actions a:hover {
    color: #007bff;
}

i.fas {
    font-size: 16px;
}

tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}


.popup-back {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5); /* Полупрозрачный черный фон */
    z-index: 999; /* Поверх всех элементов */
  }
  
  .popup {
    position: fixed;
    top: 50%;
    left: 50%;
    background-color: #fff; /* Белый фон */
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); /* Тень для объема */
    z-index: 1000; /* Поверх фона */
    /* padding: 20px; */
    max-width: 90vw; /* Максимальная ширина окна (адаптивно для маленьких экранов) */
    width: 500px; /* Стандартная ширина окна */
    max-height: 80vh; /* Максимальная высота окна */
    overflow-y: auto; /* Скролл, если контент превышает высоту окна */
  }
  
  .flex1 {
    display: flex; /* Flexbox для выравнивания */
    justify-content: space-between; /* Распределение элементов по краям */
    align-items: center; /* Вертикальное выравнивание по центру */
    flex-direction: row-reverse;
  }
  
  .head-popup {
    display: flex; /* Включаем Flexbox */
    justify-content: space-between; /* Распределение между элементами */
    align-items: center; /* Выравнивание по вертикали */
    width: 100%; /* Растянуть на всю ширину */
    padding: 0px 20px; /* Внутренние отступы */
    border-bottom: 1px solid #ddd; /* Линия снизу */
    box-sizing: border-box; /* Учитывать padding в ширине */
    background-color: #dfe3e9;
  }
  
  .head-title {
    font-size: 18px;
    font-weight: bold;
    color: #333; /* Темный текст */
  }
  
  .ptb20 {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  
  .al {
    text-align: left;
  }
  
  a {
    text-decoration: none; /* Без подчеркивания */
    font-size: 16px;
  }
  
  /* a:hover {
    color: #f00; 
  } */
  
  .popup-inner {
    width: 100%; /* Растянуть на всю ширину */
    padding: 20px 20px; /* Внутренние отступы */
    color: #555; /* Цвет текста контента */
    font-size: 14px;
    line-height: 1.6; /* Увеличенный межстрочный интервал */
  }
  
  i:hover {
    color: #01c477;
    transition: all 0.2s;
  }
  
  .botBtns {
    text-align: left;
    margin-bottom: 8px;
  }
  
  .botBtns a {
    border-radius: 5px;
    padding: 10px 15px;
    margin: 5px;
    background-color: #00c477;
    color: white;
    font-size: 14px;
    box-shadow: 0 0px 10px rgba(0, 0, 0, 0.2);
    transition: all 0.2s;
  }
  
  .botBtns a:hover {
    background-color: #158a7d;
  }
  
  .fas.fa-info-circle {
    padding-bottom: 25px;
  }
  
  #content{
    color: #333;
    font-size: 16px;
  }

  #menu ul{
    margin: 0;
  }

  #menu li a{
    font-size: 18px; 
    color: #fff; 
    padding: 27px; 
    display: block; 
    -webkit-transition: 4s;  
    transition: 4s;  
    border-bottom: 5px solid #434242
  }

  #menu li a.router-link-active{ 
    color: #00CB84; 
    border-bottom: 5px solid #00CB84
  }

  #user-top{
    padding: 18px 0 0;
    position: relative;
  }

  .switch { 
    position: relative; 
    display: inline-block; 
    width: 30px; 
    height: 15px;
  }  
  
  .switch input {display:none;}
  
  .slider{
    position:absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before{
    position:absolute;
    content: "";
    height: 17px;
    width: 17px;
    left: 0;
    bottom: -1px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    box-shadow: 0px 0 10px 0px rgba(70, 70, 70, 0.3);
  }

  input:checked + .slider{
    background-color:#00cb84;
  } 

  input:focus + .slider{
    box-shadow: 0 0 1px #00cb84;
  } 
  
  input:checked + .slider:before{
    -webkit-transform: translateX(16px);
    -ms-transform: translateX(16px);
    transform: translateX(16px);
  } 

  .slider.round{
    border-radius:34px; 
  }

  .slider.round:before{
    border-radius: 50%; 
  }

  .image-preview-area { 
    display: -ms-flexbox; 
    display: flex; 
    -ms-flex-align: center; 
    align-items: center; 
    -ms-flex-pack: center; 
    justify-content: center; 
    min-height: 125px; 
    min-width: 125px; 
    padding: 0; 
    height: auto; 
    text-align: center; 
    position: relative; 
    border: 1px solid #e5e5e5; 
    position:relative; 
} 

.image-preview-area a{ 
    position:absolute; 
    top:0; 
    left:0; 
    width:100%; 
    height:100%; 
}

.image-preview-area a img{ 
    top:50%; 
    position:relative; 
    margin-top:-24px;
}

.btnS {
    padding: 12px 16px;
    background: #00c477;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    transition: background 0.3s ease-in-out;
    text-decoration: none;
}

.btnS:hover {
    background: #1c7d82;
    color: white;
}
  
.btnS i {
    margin-left: 8px;
}







/* Загальні стилі для хедера */

/* Меню */
#menu {
    display: flex;
    align-items: center;
    gap: 20px;
}

#menu ul {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 0;
    margin: 0;
    list-style: none;
}

#menu li {
    list-style: none;
}

/* Користувач */
#user-top {
    display: flex;
    align-items: center;
    gap: 7px;
    position: relative;
    cursor: pointer;
    padding: 0px 63px 0 0px;
}

#user-circle {
    background-color: #1e1e1e;
    color: #fff;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-weight: bold;
    /* text-transform: uppercase; */
}

#user-info {
    position: absolute;
    top: 50px;
    right: 0;
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    display: none;
    min-width: 150px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.7);
}

#user-info.active {
    display: block;
}

#user-info a {
    color: black;
    text-decoration: none;
    display: contents;
    padding: 5px 10px;
    transition: color 0.3s ease;
}

#user-info a:hover {
    color: #00CB84;
}